@font-face {
  font-family: "Quicksand";
  src: url('/static/fonts/Quicksand-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url('/static/fonts/Quicksand-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
